<div class="background">
  <h1>Welcome to Booktracker</h1>
  <p>Find me in app/views/pages/home.html.erb</p>

  <p>Need to rearrage the design, card categories linked to different features for the app</p>
  Clean css for the homepage.
  Link everything coded so the user only has books to his name.
</div>
